<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
	<div class="header-banner">
		<h1 class="hide-on-mobile">Liam John Davison</h1>
	</div>
	<div class="clear"></div>
	<nav class="translucent">
		<div class="nav-wrapper">
			<div class="row">
				<div class="portion one-fourth one-eighth-on-mobile padding-bottom-none padding-top-none">
					<h3 class="site-title invisible text-white" id="site-title">Liam John Davison</h3>
				</div>
				<div class="portion pull-right padding-bottom-none padding-top-none">
					<ul id="nav-mobile">
						<li><a href="/about">About Me</a></li>
						<li><a href="/events">Events</a></li>
						<li><a data-modal="login_modal" id="login" class="js-open-modal">Login</a></li>
						<!--<li><a th:if="${session.attribute('user') != null}" href="/auth/user" th:text="${session.attribute('user')}" id="nav_username">username</a>
						<a th:if="${session.attribute('user') == null}" data-modal="login_modal" id="login" class="js-open-modal">Login</a>-->
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>

<div th:replace="~{fragments/login-modal-dialog}"></div>