<header>
	<div class="header-banner">
		<h1>Liam John Davison</h1>
	</div>
	<div class="clear"></div>
	<nav class="translucent">
		<div class="nav-wrapper ">
			<div class="site-title brand-logo left invisible" id="site-title">Liam John Davison</div>
			<ul id="nav-mobile" class="right">
				<li><a href="/archive">Archive</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="#login_modal" class="modal-trigger">Login</a></li>
			</ul>
		</div>
	</nav>

	<div id="login_modal" class="modal">
		<div class="modal-content">
			<form id="login_form">
				<label for="username">Username</label>
				<input type="text" id="username"/>
				<label for="password">Password</label>
				<input type="password" id="password"/>
				<div class="button" onclick="authenticate();">Login</div>
			</form>
		</div>
	</div>
</header>