<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head-imports :: links(pageTitle=${page.title})}"></div>
<body th:object="${page}">

<header th:replace="~{fragments/nav-banner}"></header>

<div class="ff-content-container" th:classappend="${__mode.toString() == 'EDIT'}? ' border-orange'">

	<div class="row">
		<div class="portion three-fourths">
			<div class="pageBody">
				<p th:inline="text">mode is [[${__mode}]]</p>
				<!-- groups go here -->
				<div th:each="pageBlock : ${page.blocks}">
					<div th:insert="~{fragments/block :: blockFragment(block=${pageBlock})}">page body block</div>
				</div>
			</div>
		</div>
	</div>

</div>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>