<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head-imports :: links(pageTitle=${page.title})}"></div>
<body th:object="${page}">

<header>
	<div class="header-banner">
		<h1>Liam John Davison</h1>
	</div>
	<div class="clear"></div>
	<nav class="translucent">
		<div class="nav-wrapper ">
			<div class="site-title brand-logo left invisible" id="site-title">Liam John Davison</div>
			<ul id="nav-mobile" class="right">
				<li><a href="/archive">Archive</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container">



	<div class="row">
		<div class="portion three-fourths">
			<div class="pageBody">
				<!-- groups go here -->
				<div th:each="pageBlock : ${page.blocks}">
					<div th:insert="~{fragments/block :: blockFragment(block=${pageBlock})}">page body block</div>
				</div>
			</div>
		</div>
	</div>

</div>


<footer>

	<table class="">
		<tr th:each="var : ${#ctx.getVariableNames()}">
			<td th:text="${var}"></td>
			<td th:text="${#vars.getVariable(var)}"></td>
		</tr>
	</table>

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js" type="text/javascript"></script>
	<script src="/js/ljd.js" type="text/javascript"></script>
</footer>
</body>
</html>