<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head-imports :: links(pageTitle=${page.title})}"></div>
<body th:object="${page}">

<header th:replace="~{fragments/nav-banner}"></header>

<div class="ff-content-container">

	<!--<p cms:group="groupA">Hi ya!</p>-->

	<div class="row">
		<div class="portion three-fourths">
			<div class="pageBody">
				<div th:if="${page.getGroup('groupB') !=null}">
					<p><span th:text="${page.getGroup('groupB')}">get group b</span></p>
					<div th:insert="~{fragments/blockgroup :: blockgroup(group=${page.getGroup('groupB')})}">page body
						block
					</div>
				</div>
			</div>

			<div class="pageBody">
				<div th:if="${page.getGroup('groupC') !=null}">
					<p><span th:text="${page.getGroup('groupC')}">get group c</span></p>
					<div th:insert="~{fragments/blockgroup :: blockgroup(group=${page.getGroup('groupC')})}">page body
						block
					</div>
				</div>
			</div>


			<hr>
			<h3>Repeating to make the page long</h3>
			<div class="pageBody">
				<div th:if="${page.getGroup('groupA') !=null}">
					<p><span th:text="${page.getGroup('groupA')}">get group a</span></p>
					<div th:insert="~{fragments/blockgroup :: blockgroup(group=${page.getGroup('groupA')})}">page body
						block
					</div>
				</div>
			</div>
			<div class="pageBody">
				<div th:if="${page.getGroup('groupA') !=null}">
					<p><span th:text="${page.getGroup('groupA')}">get group a</span></p>
					<div th:insert="~{fragments/blockgroup :: blockgroup(group=${page.getGroup('groupA')})}">page body
						block
					</div>
				</div>
			</div>
			<div class="pageBody">
				<div th:if="${page.getGroup('groupA') !=null}">
					<p><span th:text="${page.getGroup('groupA')}">get group a</span></p>
					<div th:insert="~{fragments/blockgroup :: blockgroup(group=${page.getGroup('groupA')})}">page body
						block
					</div>
				</div>
			</div>

		</div>

		<div class="portion three-fourths">
			<div class="pageBody">
				<div th:if="${page.getGroup('groupA') !=null}">
					<p><span th:text="${page.getGroup('groupA')}">get group a</span></p>
					<div th:insert="~{fragments/blockgroup :: blockgroup(group=${page.getGroup('groupA')})}">page body
						block
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<div id="firstBlock">
			<ul>
				<li th:if="${page.blocks.size gt 0}" th:each="block: ${page.blocks}">
					<span th:text="${block.refName}">name</span> <span th:utext="${block.render()}">blockX</span>
				</li>
			</ul>
		</div>
	</div>
	<hr/>

</div>


<footer>
	<div class="row">
		<div class="portion half">
		<table class="">
			<tr th:each="var : ${#ctx.getVariableNames()}">
				<td th:text="${var}"></td>
				<td th:text="${#vars.getVariable(var)}"></td>
			</tr>
			<tr>
				<td>session stuff</td>
				<td th:text="${#session.id}"></td>
			</tr>
		</table>
		</div>
	</div>
</footer>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js" type="text/javascript"></script>
<script src="/js/ljd.js" type="text/javascript"></script>
</body>
</html>